* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'ROBOTO', sans-serif;
}

a {
  text-decoration: none;
  color: #0499ff;
  transition: all .5s;
}

.nav {
  min-height: 45px;
  background-color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  position: fixed 0px 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.menu {
  display: flex;
  flex-flow: row;
  color: #fff;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}

.menu li {
  padding: 13px;
}

.name {
  display: block;
  margin-right: auto;
}

header {
  padding-top: 84px;
  width: 100%;
  height: 500px;
  background-image: url('https://i.pinimg.com/originals/f0/e4/0e/f0e40eecb15886c55636cdcdd50924c1.jpg');
  background-size: cover;
  text-align: center;
}

header img {
  border-radius: 50%;
  border: 2px solid #000;
  transition: all .5s;
}

header img:hover {
  transform: scale(1.09) rotate(4deg);
}

.animaion {
  transition: color 0.5s ease, background-color 0.5s ease, border-radius 1s ease, border 0.5s linear;
}

.tag {
  background-color: #EDE01C;
  display: table;
  flex-flow: row;
  margin: 15px auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  justify-content: center;
}

.tag:hover {
  color: #fff;
  background-color: #000;
  border: 5px solid #F4DF0D;
  border-radius: 10px;
}

.animaion2 {
  transition: color 0.5s ease, background-color 0.5s ease, border-radius 1s ease, border 1s ease;
}

.tag2 {
  background-color: #000;
  display: table;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.tag2:hover {
  color: #F46C0D;
}

.sub-title {
  background-color: #000;
  color: #E3890E;
}
.content {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  justify-content: space-around;
}

.card {
  width: 500px;
  margin: 10px;
  padding: 20px;
  border-bottom: 3px solid grey;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 60px;
}

.tag-list {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  color: #000;
}

.tag-yellow {
  background-color: #EDE01C;
  width: auto;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 5px;
}

.tag-blue {
  background-color: #11A3D5;
  width: auto;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 5px;
}

h3 {
  color: #E67300;
}

.box-title {
  display: flex;
  width: 100%;
  height: 100px;
  margin-left: 40px;
}

.title {
  width: 600px;
  height: 70px;
  margin: 20px;
  padding: 10px;
  color: #fff;
  border: 10px solid #51FF00;
  background-color: #000;
  border-radius: 15px;
  text-align: center;
}

.box-title p {
  font-size: 1.3em;
  text-align:center;
  margin: 0px;
}

.Lesson-7 {
  flex-flow: column;
  width: 100%;
  height: 600px;
  margin: 20px;
  justify-content: flex-end;
}

.Lesson-7 p {
  margin: 0px;
}

.box-1 {
  width: 687px;
  height: 150px;
  margin: 20px;
  padding: 10px;
  border: 10px solid #B100FE;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
}

.box-2-and-box-3 {
  display: flex;
  width: 100%;
  height: 150px;

}

.box-2 {
  width: 350px;
  height: 75px;
  padding: 10px;
  margin: 20px;
  border: 10px solid #00FE77;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.box-3 {
  width: 300px;
  height: 75px;
  padding: 10px;
  margin: 20px;
  border: 10px solid ;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.sponsors {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: column;

}

.discord {
  margin: 5px;
  width: 50px;
  height: 50px;
}

.transition {
  transition: width 30s ease, border-radius 20s ease, color 30s ease, background-color 27s linear, border 30s ease, height 30s ease;
}

.troll {
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: #2780C1;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.troll:hover {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  color: #000;
  background-color: #EA1310;
  border: 10px solid #1AF104;
}

p {
  margin: 5px;
}

.Experience {
  background-color: #DAFFD4;
}

.are-you-here {
  color: #8A00E9 ;
  padding: 3px;
  border-bottom: 4px solid #232323;
  border-radius: 5px;
}

.detalis {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 1000px;
  justify-content: center;
  align-items: center;
}

.Welkome {
  text-align: center;
  color: #1AAFD5;
  margin: 10px;
  border: 5px;
  height: 40px;
  width: 200px;
}

.prolog {
  text-align: center;
  background-color: #050606;
  border: 5px solid #06CCFE;
  border-radius: 15px;
  padding: 12px;
  margin: 20px;
  color: #fff;
}

.test {
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  border: 3px solid #000;
  }

.image-relative {
  position: relative;
}

.image-relative:hover .secret-text {
  display: flex;
  border-radius: 10px;
}

.secret-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.secret-text h2 {
  text-align: center;
}
